<app-navbar></app-navbar>
<div class="container">
    <h1>PROJECTS</h1>
    <div @slideInOut @fade class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/Screenshot (296).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Weather App</h5>
            <p>lol</p>
            <p class="card-text">Skills: JavaScript | HTML | CSS | api</p>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Weather-App/"></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/quote.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Quotes Generator</h5>
            <p class="card-text">Skills: JavaScript | HTML | CSS | api</p>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Quotes-Generator/"></a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../../../assets/images/nasa.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Astronomy Picture of the Day</h5>
            <p class="card-text">Skills: JavaScript | HTML | CSS | api</p>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Astronomy-Picture-of-the-Day/"></a>
          </div>
        </div>
      </div>
</div>