<app-navbar></app-navbar>
<div class="container">
    <h1>PROJECTS</h1>
      <div class="row" @slideInOut @fade>
      <div class="col-lg-4 mb-4 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail" src="assets/images/home.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Content Management System</h5>
          <p class="card-text">Developed a MEAN Stack Application with Different User Flows</p>
          <mat-chip-list>
            <mat-chip selected color="accent">MEAN Stack</mat-chip>
            <mat-chip selected color="accent">HTML5</mat-chip>
            <mat-chip selected color="accent">CSS3</mat-chip>
            <mat-chip selected color="accent">JavaScript ES6</mat-chip>
          </mat-chip-list>
          <a class="stretched-link" target="_blank" href="https://blog-2425.herokuapp.com/"></a>
        </div>
      </div>
      </div>
      <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top" src="assets/images/Screenshot (296).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Weather App</h5>
            <mat-chip-list>
              <mat-chip selected color="accent">HTML5</mat-chip>
              <mat-chip selected color="accent">CSS3</mat-chip>
              <mat-chip selected color="accent">JavaScript ES6</mat-chip>
              <mat-chip selected color="accent">REST API</mat-chip>
            </mat-chip-list>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Weather-App/"></a>
          </div>
        </div>
      </div>
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card ">
          <img class="card-img-top" src="assets/images/quote.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Quotes Generator</h5>
            <mat-chip-list>
              <mat-chip selected color="accent">HTML5</mat-chip>
              <mat-chip selected color="accent">CSS3</mat-chip>
              <mat-chip selected color="accent">JavaScript ES6</mat-chip>
              <mat-chip selected color="accent">REST API</mat-chip>
            </mat-chip-list>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Quotes-Generator/"></a>
          </div>
        </div>
      </div>
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card ">
          <img class="card-img-top" src="assets/images/nasa.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Astronomy Picture of the Day</h5>
            <mat-chip-list>
              <mat-chip selected color="accent">HTML5</mat-chip>
              <mat-chip selected color="accent">CSS3</mat-chip>
              <mat-chip selected color="accent">JavaScript ES6</mat-chip>
              <mat-chip selected color="accent">REST API</mat-chip>
            </mat-chip-list>
            <a class="stretched-link" target="_blank" href="https://adarsh-2425.github.io/Astronomy-Picture-of-the-Day/"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Floating Button -->
<div class="flBtn flBtn-position-br flBtn-size-medium">
	<input type="checkbox">
	<a href="#" data-role="main">
		<i class="fa-solid fa-address-card"></i>		
	</a>

	<ul class="flBtn-first">
		<li><a href="mailto:adarsh.lol2425@gmail.com"  tooltip="Email"><i class="fa-solid fa-envelope"></i></a></li>
		<li><a href="https://www.linkedin.com/in/adarsh2425/"  tooltip="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://github.com/adarsh-2425"  tooltip="GitHub"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://github.com/adarsh-2425"  tooltip="GitHub"><i class="fa-solid fa-hashtag"></i></a></li>
	</ul>
</div>

    </div>
