
<div class="area" >
        <ul class="circles">


                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <div class="text">
                <p>Hello, I'm <span id="name">Adarsh S</span>.</p>
    <p> I'm a Full-Stack Web Developer. </p>
</div>
                <a routerLink ="/about"><button  class="button-work" >View My Work  
                        <i class="fa-solid fa-fingerprint fa-lg fa-beat" ></i>
                </button></a> 
        </ul>
        
</div >







    