
.container{
  margin-bottom: 2em;
}
.aboutmetext{
  line-height: 1.8;
  word-spacing: 1px;
}

.column{
    text-align: center;
    font-family: sans-serif;

}

h3{
    font-family: 'Cantarell', sans-serif;
    padding: 0.4em;
}

.about{
    text-align: center;
    margin: 2em;
    text-decoration: underline;
    text-underline-offset: 1rem;   
    font-family: 'Cantarell', sans-serif;
}

.icon {
    color: rgb(37, 164, 223);
    padding: 1em;
  }

.fa-shuttle-space{
    transform: rotate(320deg);
}

.fa-shuttle-space:hover{
    transform: rotate(300deg);
    transition: all ease-in-out;

}

.fa-lightbulb:hover{
    transition: all ease-in-out;
    color: orange;
}

.fa-laptop-code:hover{
    transform: translateX(25%);
    color: royalblue;
    transition: all ease-in-out;
}

.fa-gauge-high:hover{
    transform: rotate(30deg);
    transition: all ease-in-out;

}

.me{
    padding-top: 2em;
    text-align: center;
}

.me .whoname{
    font-size:xx-large;
}

a{
    text-decoration: none;
}
.linkbutton{
  padding: 10px 24px;
  border-radius: 12px;
  background-color: green;
}
.linkbuttonmargin{
  margin-top: 2em;

}


  img{
    border-radius: 50%;
  }

  #technical{
    text-align: center;
  }

  .skills{
    text-align: center;
    padding: 2em;
    padding-top: 7em;
  }

  .personalskills{
    padding: 2em;;
  }
 
  #technical{
    text-align: center;
  }
/* @media only screen and (max-width: 600px) {
    .column p{
        font-size: 0.7em;
    }
  }
   */