<app-navbar></app-navbar>
<div class="container">

    <div @fade class="about">
        <h1>ABOUT</h1>
       
    </div>

   <div @slideInOut class="column">
        <div class="row">
          <div class="col">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-gauge-high fa-5x" ></i>
            </div>
            <h3>Fast</h3>
            <p>Fast load times and lag free interaction, my highest priority.
            </p>
        </div>
        <br>
        <br>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-lightbulb fa-5x"></i>
            </div>
            <h3>Intuitive</h3>
            <p>Strong preference for easy to use, intuitive UX/UI.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-laptop-code fa-5x"></i>
            </div>
            <h3>Responsive</h3>
            <p>My layouts will work on any device, big or small.
            </p>
          </div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-shuttle-space fa-5x"></i>
            </div>
            <h3>Dynamic</h3>
            <p>Websites don't have to be static, I love making pages come to life.
            </p>
          </div>
        </div>
    </div>
    <section class="aboutme" @slideInOut @fade>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div  class="me">
     
                <img src="assets/images/me 1 (1).jpg" alt="" width="320" height="313" />

        <h3 class="whoname">Who Am I?</h3>
        <p>
            I'm an aspiring Full-Stack Web Developer from Kerala, IN. <br>
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br>
        </p>
        <a class="makelink" href="">Let's make something special.</a> 
<br>
        <button class="btn btn-success resumebutton">
        <a href="https://drive.google.com/file/d/1nvUfEoGj0YtLl7ErcL1X80HND08UYiR4/view?usp=sharing" target="_blank"></a>
        View Resume
        </button>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" >
      <!-- https://www.javatpoint.com/display-data-from-json-file-in-angular -->
      
      <div class="skills">
        <h3 id="technical">Technical Skills</h3>
      <mat-chip-list aria-label="progress"  >
        <mat-chip class="chips" selected color="accent" *ngFor="let skills of skills">{{skills.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="personalskills">
      <h3 id="technical">Personal Skills</h3>
    <mat-chip-list aria-label="personal">
      <mat-chip class="chips" selected color="primary" >Time Management</mat-chip>
      <mat-chip class="chips" selected color="primary" >Communication</mat-chip>
      <mat-chip class="chips" selected color="primary" >Resourcefulness</mat-chip>
      <mat-chip class="chips" selected color="primary" >Adaptability</mat-chip>
      <mat-chip class="chips" selected color="primary" >Problem-solving</mat-chip>
      <mat-chip class="chips" selected color="primary" >Analytical skills</mat-chip>

    </mat-chip-list>
  </div>
</div>
</div>
</section>
</div>
     
