.navbar{
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

}

.nav-link{
    font-size: 1em;
    color: black;
    font-family: 'Cantarell', sans-serif;
    transition: color 0.5s ease-in;
    margin-left: 0.3em;

}
.nav-link:hover{
    color:white
}

@media screen and (max-width: 600px) {
    .nav-link{
        font-size:0.3em;
    }
}
