<div class="container">
    <mat-dialog-content>
      <!-- carousal -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- width="200" height="350" -->
              <img class="img-fluid"  src='../../../assets/images/quote1.PNG' class="d-block w-100" alt="..." >
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="../../../assets/images/quote3.PNG" class="d-block w-100" alt="..." >
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="../../../assets/images/quote2.PNG" class="d-block w-100" alt="..." >
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h3 class="text-secondary text-left">Quotes Generator</h3>
      </mat-dialog-content>
      <a target="_blank" href="https://adarsh-2425.github.io/Quotes-Generator/">
          <button class="btn color ">VIEW SITE</button>
      </a>
        <!-- closebutton  -->
  <div class="text-end">
      <abbr title="Close">
      <i  [mat-dialog-close]="true" class="fa-solid fa-circle-xmark fa-2xl "></i>
  </abbr>
  </div>
  
    
  </div>
  