<div class="context">
    <h1>Hello, I'm <span id="name">Adarsh S</span>.</h1>
    <h1> I'm a Full-Stack Web Developer. </h1>

</div>


<div class="area" >
        <ul class="circles">
<button  class="button-work" >View My Work  
        <i class="fa-solid fa-arrow-down fa-bounce" ></i>
</button>

                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >