<div class="container">

    <div class="about">
        <h1>ABOUT</h1>
       
    </div>

   <div class="column">
        <div class="row">
          <div class="col">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-gauge-high fa-5x" ></i>
            </div>
            <h3>Fast</h3>
            <p>Fast load times and lag free interaction, my highest priority.
            </p>
        </div>
        <br>
        <br>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-lightbulb fa-5x"></i>
            </div>
            <h3>Intuitive</h3>
            <p>Strong preference for easy to use, intuitive UX/UI.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-laptop-code fa-5x"></i>
            </div>
            <h3>Responsive</h3>
            <p>My layouts will work on any device, big or small.
            </p>
          </div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-shuttle-space fa-5x"></i>
            </div>
            <h3>Dynamic</h3>
            <p>Websites don't have to be static, I love making pages come to life.
            </p>
          </div>
        </div>
    </div>

    <div class="me">
        <h3>Who's this guy?</h3>
    </div>

</div>
