<div class="container">

    <div @fade class="about">
        <h1>ABOUT</h1>
       
    </div>

   <div @slideInOut class="column">
        <div class="row">
          <div class="col">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-gauge-high fa-5x" ></i>
            </div>
            <h3>Fast</h3>
            <p>Fast load times and lag free interaction, my highest priority.
            </p>
        </div>
        <br>
        <br>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-lightbulb fa-5x"></i>
            </div>
            <h3>Intuitive</h3>
            <p>Strong preference for easy to use, intuitive UX/UI.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-laptop-code fa-5x"></i>
            </div>
            <h3>Responsive</h3>
            <p>My layouts will work on any device, big or small.
            </p>
          </div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-shuttle-space fa-5x"></i>
            </div>
            <h3>Dynamic</h3>
            <p>Websites don't have to be static, I love making pages come to life.
            </p>
          </div>
        </div>
    </div>

    <div class="me">
        <h3 class="whoname">Who Am I?</h3>
        <p>
            I'm an aspiring Full-Stack Web Developer from Kerala, IN. <br>
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br>
          <a class="makelink" href="">Let's make something special.</a> 
        </p>
    </div>

</div>
