<div class="container">

    <div @fade class="about">
        <h1>ABOUT</h1>
       
    </div>

   <div @slideInOut class="column">
        <div class="row">
          <div class="col">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-gauge-high fa-5x" ></i>
            </div>
            <h3>Fast</h3>
            <p>Fast load times and lag free interaction, my highest priority.
            </p>
        </div>
        <br>
        <br>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-lightbulb fa-5x"></i>
            </div>
            <h3>Intuitive</h3>
            <p>Strong preference for easy to use, intuitive UX/UI.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-laptop-code fa-5x"></i>
            </div>
            <h3>Responsive</h3>
            <p>My layouts will work on any device, big or small.
            </p>
          </div>
          <div class="col">
            <div class="icon">
                <i class="fa-solid fa-shuttle-space fa-5x"></i>
            </div>
            <h3>Dynamic</h3>
            <p>Websites don't have to be static, I love making pages come to life.
            </p>
          </div>
        </div>
    </div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div @slideInOut @fade class="me">
     
                <img src="../../../assets/images/me 1 (1).jpg" alt="" width="320" height="313" />

        <h3 class="whoname">Who Am I?</h3>
        <p>
            I'm an aspiring Full-Stack Web Developer from Kerala, IN. <br>
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br>
          <a class="makelink" href="">Let's make something special.</a> 
        </p>
        <button class="btn btn-success">
        <a href="https://drive.google.com/file/d/1nvUfEoGj0YtLl7ErcL1X80HND08UYiR4/view?usp=sharing" target="_blank"></a>
        View Resume
        </button>
    </div>
    </div>
    <div class="skill col-sm-12 col-md-6 col-lg-6" >
      <!-- https://www.javatpoint.com/display-data-from-json-file-in-angular -->
      <div class="skills" *ngFor="let skills of skills">
      <h6>{{skills.name}}</h6>
      <div  class="progress">
        <!-- https://stackoverflow.com/questions/47662772/it-is-possible-to-add-values-to-an-inline-style-using-interpolation-in-angular-4 -->
      <div @slideInOut class="progress-bar"  role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': skills.percentage+ '%' }">
        <span class="sr-only">{{skills.percentage}} Complete</span>
      </div>
      </div>
    </div>
    </div>
     </div>
</div>
